.contact-wrapper {
  padding: 8.5rem 0 10rem 0;
  display: flex;
  justify-content: center;
}
.contact-box {
  min-width: 250px;
  width: 30%;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
  padding: 2rem;
  margin: 0 1rem;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.2) 0%,
    rgba(127, 0, 170, 0.2) 50%,
    rgba(0, 0, 255, 0.2) 100%
  );
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}
.contact-box h2 {
  margin-bottom: 1.5rem;
}
.contact-box p {
  font-size: 1.3rem;
  margin-bottom: 0;
}
.contact-box .fa {
  font-size: 2.5rem;
}
.contact-box hr {
  border: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 255, 0) 100%
  );
}

.grid-container hr {
  border: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 255, 0) 70%
  );
}

/* ============ Contact Form ============ */
#form-wrapper {
  width: 60%;
  flex-grow: 1;
  font-size: 1.2rem;
}
.form-col {
  display: flex;
  flex-direction: column;
}
#text {
  height: 12rem;
}
input,
textarea {
  background-color: rgba(255, 255, 255, 0.25);
  border: solid 1px black;
  padding: 0.5rem 1rem;
}
.col-md-6 {
  margin: 0 0 0.5rem 0;
}
form button {
  margin: 2rem 0 0 0;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.15) 0%,
    rgba(127, 0, 170, 0.15) 90%,
    rgba(0, 0, 255, 0.15) 100%
  );
}
.form-error {
  border: solid 1px red;
  box-shadow: 0px 0px 8px 1px rgba(255, 0, 0, 0.6);
}
#spinner {
  margin: 2rem 0 0 0;
}
#success-msg {
  margin: 2rem 0 0 0;
  padding: 0 0.5rem;
  box-shadow: 0px 0px 10px 10px rgba(173, 255, 47, 0.5);
  background-color: rgba(173, 255, 47, 0.5);
}
