.legaltexts-wrapper {
  min-height: 1080px;
}
.title-bar {
  padding: 0.25rem 0.5rem;
  background-color: white;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
}
.title-bar h3 {
  margin: 0;
}
.title-bar-item {
  flex: 1;
  display: flex;
  justify-content: center;
}
.title-bar-item:first-child > a {
  margin-right: auto;
  color: black;
}
.title-bar .fa {
  font-size: 1.5rem;
}

/* === Content === */

.legaltexts-content-wrapper {
  padding: 2rem 2rem 1rem;
}
@media (max-width: 768px) {
  .legaltexts-content-wrapper {
    padding: 1rem 1rem 0rem;
  }
}
.legaltexts-content-wrapper ul {
  list-style-position: inside;
}
.legaltexts-content-wrapper hr {
  border-top: 1px solid rgba(0, 0, 0, 0.33);
}
.cookies-browser-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cookies-browser {
  margin: 0 0.5rem 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.33);
}
