.contact-wrapper {
  padding: 6.5rem 0 6.5rem 0;
  display: flex;
  justify-content: center;
}
.contact-box {
  /* min-width: 370px; */
  /* width: 30%; */
  border: 1px solid black;
  text-align: center;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 2rem;
  /* margin: 0 1rem; */
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.2) 0%,
    rgba(127, 0, 170, 0.2) 50%,
    rgba(0, 0, 255, 0.2) 100%
  );
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}
.contact-box h2 {
  margin-bottom: 1.5rem;
}
.contact-box p {
  font-size: 1.3rem;
  margin-bottom: 0;
}
#map-link:link,
#map-link:visited,
#map-link:hover,
#map-link:active {
  color: black;
  text-decoration: none;
}
#map-link-btn {
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.15) 0%,
    rgba(127, 0, 170, 0.15) 90%,
    rgba(0, 0, 255, 0.15) 100%
  );
}
.contact-box .fa {
  font-size: 2.5rem;
}
.contact-box hr {
  border: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 255, 0) 100%
  );
}

.grid-container hr {
  border: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 255, 0) 75%
  );
}

/* ============ Contact Form ============ */
#form-wrapper {
  /* width: 60%; */
  /* flex-grow: 1; */
  font-size: 1.2rem;
}
.form-col {
  display: flex;
  flex-direction: column;
}
#text {
  height: 12rem;
}
input,
textarea {
  background-color: rgba(255, 255, 255, 0.25);
  border: solid 1px black;
  padding: 0.5rem 1rem;
}
.form-col-half {
  margin: 0 0 0.5rem 0 !important;
}
form button {
  margin: 2rem 0 0 0;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.15) 0%,
    rgba(127, 0, 170, 0.15) 90%,
    rgba(0, 0, 255, 0.15) 100%
  );
}
#checkbox {
  margin: 0 1rem 0 0;
}
input[type="checkbox"] {
  transform: scale(1.5);
}
#checkbox-tooltip {
  font-size: 0.75rem;
  margin: 0.5rem 0 0 0;
}
.popover {
  max-width: 300px !important;
}
.form-error {
  border: solid 1px red;
  box-shadow: 0px 0px 8px 1px rgba(255, 0, 0, 0.6);
}
#spinner {
  margin: 2rem 0 0 0;
}
#success-msg {
  margin: 2rem 0 0 0;
  padding: 0 0.5rem;
  box-shadow: 0px 0px 10px 10px rgba(173, 255, 47, 0.5);
  background-color: rgba(173, 255, 47, 0.5);
}
#failure-msg {
  margin: 2rem 0 0 0;
  padding: 0 0.5rem;
  box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0.25);
  background-color: rgba(255, 0, 0, 0.25);
  font-size: 1rem;
}

/* Mobile responsive */

@media (max-width: 768px) {
  .contact-box {
    width: 100%;
  }
  .contact-box p {
    font-size: 1.2rem;
  }
}
