.navbar-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid black;
  padding: 0.1rem 1rem !important;
}
.navbar-wrapper .nav-item {
  text-align: center;
}
.navbar-collapse li {
  margin: 0 0.25rem;
}

.navbar-collapse button:focus {
  outline: 0;
}
.navbar-collapse a {
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
}

.navbar-brand {
  min-width: 4rem;
  transition: 150ms 0s all linear;
}

.logo-navbar {
  max-width: 100%;
  height: auto;
}

.language-item span {
  margin: 0 0.5rem;
}

#lang-button {
  padding: 0.3rem 0.5rem;
  font-size: 2.5rem;
  line-height: 0;
}
#lang-button:focus {
  outline: none;
  box-shadow: none;
}
#twitter-button {
  color: #343a40;
  margin: 0 0.5rem 0;
  font-size: 3rem;
  transition: 0.15s 0s all linear;
}
#twitter-button:hover {
  color: #00aced;
}

.navbar-link {
  display: block;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  text-decoration: none;
}
.navbar-link:hover,
.navbar-link:visited,
.navbar-link:active {
  text-decoration: none;
  color: black;
}
/* Underline effect on hover */
.navbar-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: black;
  transition: width 0.25s ease 0s, left 0.25s ease 0s;
  width: 0;
}
.navbar-link:hover:after {
  width: 100%;
  left: 0;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .navbar-collapse .btn-group-lg.dropdown {
    text-align: center;
    margin: 0 0 0.3rem;
  }
  #twitter-wrapper {
    display: block;
    text-align: center;
  }
}
